[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery-worker = {git = "https://github.com/shiragcv/celery-worker.git"}

[dev-packages]

[requires]
python_version = "3.10"
